.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 20px;
}

.hero-section {
  text-align: center;
  margin-bottom: 50px;
  animation: fadeInUp 1s ease;
}

.show-form-li {
  color: white;
  cursor: pointer;
  border: 1px solid rgb(4, 18, 26);
  box-shadow: 1px 1px 2px #1f8ceb;
  width: fit-content;
  height: fit-content;
  background-color: #1f8ceb;
  padding: 3px;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

h1 {
  font-size: 48px;
  color: #082338;
  margin-bottom: 10px;
  font-family: 'Times New Roman', Times, serif;

}

.landing-page p {
  font-size: 18px;
  color: #082338;
  margin-bottom: 30px;

}

.feature-section {
  max-width: 700px;
  padding: 10px 30px;
  border: 1px solid #082338;
  text-align: center;
  animation: fadeIn 1s ease;
  margin: 30px auto 50px auto
}

.feature-section ul li {
  width: 200px;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  font-size: 18px;
  color: white;
}

.feature-section h2 {
  font-size: 32px;
  color: #082338;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.feature-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.feature-section ul div {
  display: flex;
  flex-direction: column;
}

.footer {
  text-align: center;
  font-size: 14px;
  color: #082338;
  animation: fadeIn 1s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media (max-width: 600px) {
  .landing-page {
    height: 100%;
  }

  .feature-section {
    max-width: 70%;
  }

  .feature-section ul li {
    width: 100px;
    margin: 5px;
    padding: 5px;
    font-size: 16px;
    color: white;
  }

  .hero-section h1 {
    margin-top: 20%;
  }
}