.employee-landing-page {
    text-align: center;
    margin: 10% 2%;
    padding: 0 2%;
}

.employee-button {
    padding: 10px;
    background-color: #1f8ceb;
    color: #082338;
    font-size: 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin: 20px auto;
    width: 200px;
    border: 1px solid #082338;
}

.employee-button:hover {
    background-color: #0d94dd;
    color: white;
}

@media only screen and (max-width: 600px) {
    .employee-landing-page {
        text-align: center;
        margin: 10% 2%;
        padding: 0 2%;
    }

    .welcome-message-employee {
        margin-top: 40%;
    }
}